@font-face {
    font-family: "fontMontserratSemiBold";
    src: url("~@/assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "fontMontserratBold";
    src: url("~@/assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "fontMontserratRegular";
    src: url("~@/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "fontMontserratMedium";
    src: url("~@/assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "fontComfortaaSemiBold";
    src: url("~@/assets/fonts/Comfortaa-SemiBold.ttf");
}

@font-face {
    font-family: "fontComfortaaBold";
    src: url("~@/assets/fonts/Comfortaa-Bold.ttf");
}

@font-face {
    font-family: "fontComfortaaRegular";
    src: url("~@/assets/fonts/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: "fontComfortaaMedium";
    src: url("~@/assets/fonts/Comfortaa-Medium.ttf");
}

@font-face {
    font-family: "fontComfortaaLight";
    src: url("~@/assets/fonts/Comfortaa-Light.ttf");
}